@model WebApplication1.ViewModels.KitapEkleForm_VM

@{
    ViewData["Title"] = "KitapEkle";
}

<h1>KitapEkle</h1>

<h4>KitapEkle_VM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="KitapEkle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Kitap.KitapAdi" class="control-label"></label>
                <input asp-for="Kitap.KitapAdi" class="form-control" />
                <span asp-validation-for="Kitap.KitapAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.Ozet" class="control-label"></label>
                <input asp-for="Kitap.Ozet" class="form-control" />
                <span asp-validation-for="Kitap.Ozet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.SayfaSayisi" class="control-label"></label>
                <input asp-for="Kitap.SayfaSayisi" class="form-control" />
                <span asp-validation-for="Kitap.SayfaSayisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.Fiyat" class="control-label"></label>
                <input asp-for="Kitap.Fiyat" class="form-control" />
                <span asp-validation-for="Kitap.Fiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.YazarId" class="control-label"></label>
                <select asp-for="Kitap.YazarId" asp-items = "@Model.Yazarlar" class="form-control"></select>
                <span asp-validation-for="Kitap.YazarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.KategoriId" class="control-label"></label>
                <select asp-for="Kitap.KategoriId" asp-items = "@Model.Kategoriler" class="form-control"></select>
                <span asp-validation-for="Kitap.KategoriId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.YayinEviId" class="control-label"></label>
                <select asp-for="Kitap.YayinEviId" asp-items = "@Model.YayinEvleri" class="form-control"></select>
                <span asp-validation-for="Kitap.YayinEviId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
